body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-y: hidden;
    background-color: #FF0080;
}
.title{
    text-align: center;
    margin-top: 20px;
    font-size: 30px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    gap: 10vw;
}
.left-box{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
textarea{
    font-size: 15px;
    font-family: 'Noto Nastaliq Urdu', serif;
    font-weight: 500;
    text-align: center;
    color: white;
    padding: 15px;
    word-spacing: 1px;
    background-color: #32012F;
}
.output-box{
    background-color: #32012F;
    padding: 15px;
    height: 80vh;
    width: 30vw;
    color: white;
}