body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-y: hidden;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

.title {
    text-align: center;
    margin-top: 20px;
    font-size: 30px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    gap: 10vw;
}

.left-box {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

textarea {
    font-size: 15px;
    font-family: 'Noto Nastaliq Urdu', serif;
    font-weight: 500;
    text-align: center;
    color: white;
    padding: 15px;
    word-spacing: 1px;
    background-color: #32012F;
}

.output-box {
    background-color: #32012F;
    padding: 15px;
    height: 80vh;
    width: 30vw;
    color: white;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}